@font-face {
  font-family: neue;
  src: url("../../fonts/Neue.ttf");
}

.landingPageWrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #131315;
  font-family: neue;
}

.landingMain {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.mainBox1 {
  width: 69.8%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .5%;
}

.box1row1 {
  width: 100%;
  height: 32%;
  background-color: #f1f1f1;
  font-size: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: thin;
  padding-left: 50px;
  position: relative;
  background-image: radial-gradient(circle, #383c3d36 2px, transparent 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
}

.box1row1>img {
  position: absolute;
  top: 5px;
  left: 5px;
}

.box1row2 {
  width: 100%;
  height: 32%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box1row2main {
  width: 59.6%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background-color: #f1f1f1;
  font-family: inter;
  display: flex;
  align-items: center;
  padding-left: 20px;
  line-height: 30px;
  font-size: larger;
  color: #383C3D;
  position: relative;
  letter-spacing: 1px;
  word-spacing: 5px;
  background-image: radial-gradient(circle, #383c3d36 2px, transparent 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
}

.box1row2main::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 100%;
  background: black;
  left: 70%;
}

.vertxt {
  position: absolute;
  right: 13%;
  color: white;
  font-family: 'Inter';
  transform: rotate(270deg);
  font-size: small;
}

.box1row2side {
  width: 40%;
  height: 100%;
  border-bottom-left-radius: 20px;
  background-color: #f1f1f1;
  background-image: radial-gradient(circle, #383c3d36 2px, transparent 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box1row2side > img{
  width: 140px;
  animation: landRingRotate 10s linear infinite;
}

@keyframes landRingRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box1row3 {
  width: 100%;
  height: 32%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box1row3main {
  width: 59.6%;
  height: 100%;
  border-top-right-radius: 20px;
  background-color: #f1f1f1;
  font-family: inter;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  background-image: radial-gradient(circle, #383c3d36 2px, transparent 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
}

.box1row3main>span {
  font-family: neue;
  letter-spacing: -2px;
  padding-top: 3px;
}

.box1row3side {
  width: 40%;
  height: 100%;
  border-top-left-radius: 20px;
  background-color: #f1f1f1;
  position: relative;
  background-image: radial-gradient(circle, #383c3d36 2px, transparent 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
}

.box1row3side::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, transparent 50%, black 50.3%, black 51%, transparent 51%);
}

.mainBox2 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .5%;
}

.box2row1 {
  width: 100%;
  height: 32%;
  background-color: #f1f1f1;
  color: #383C3D;
  display: flex;
  align-items: flex-end;
  font-family: 'Inter';
  padding: 10px;
  letter-spacing: 1px;
  word-spacing: 5px;
  background-image: radial-gradient(circle, #383c3d36 2px, transparent 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
}

.box2row2 {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.box2row2col1 {
  width: 60%;
  height: 100%;
  background-color: #f1f1f1;
  background-image: radial-gradient(circle, #383c3d36 2px, transparent 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
}

.box2row2col1>img {
  width: 100%;
  height: 100%;
}

.box2row2col2 {
  width: 39%;
  height: 100%;
  background-color: #f1f1f1;
  background-image: radial-gradient(circle, #383c3d36 2px, transparent 1px);
  background-size: 20px 20px;
  position: relative;
  background-attachment: fixed;
}

.box2row2col2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: .5%;
  top: 50%;
  background: black;
}

.landingInfiniteScroll {
  position: relative;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 12%;
  color: white;
  text-align: center;
  font-family: inter;
  font-size: 4.5em;
  font-weight: 400;
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
}

.landingFooter {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width : 500px) {

  .landingInfiniteScroll {
    height: 8vh;
    font-size: 3em;
    bottom: -3px;
  }

  .landingMain {
    flex-direction: column;
    height: 92vh;
  }

  .vertxt {
    position: absolute;
    right: 6%;
    color: white;
    font-family: 'Inter';
    transform: rotate(270deg);
    font-size: 8px;
  }

  .box1row1 {
    height: 20%;
    width: 100%;
    align-items: flex-end;
    padding-left: 0px;
    font-size: 15vw;
  }

  .box1row1>img {
    width: 50px;
    top: 15px;
    left: 20px;
  }

  .mainBox1 {
    height: 49%;
    width: 100%;
    flex-direction: row;
  }

  .box1row2 {
    width: 60%;
    height: 100%;
    flex-direction: column;
  }

  .box2row1 {
    height: 50%;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 80%;
    font-weight: 500;
    align-items: center;
    border-top-right-radius: 15px;
  }

  .box1row2side {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0px;
    height: 49.5%;
  }

  .box1row3 {
    width: 40%;
    height: 100%;
    flex-direction: column;
  }

  .box1row3side {
    width: 100%;
    border-top-left-radius: 15px;
  }

  .box2row2col1 {
    width: 100%;
    ;
  }

  .mainBox2 {
    height: 20%;
    width: 100%;
  }

  .box1row2main {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 0px;
    line-height: 20px;
    font-size: small;
    font-weight: 500;
    padding-left: 10px;
  }

  .box1row3main {
    height: 10%;
    width: 100%;
    font-size: xx-large;
    border-top-right-radius: 0px;
  }


  .landingFooter {
    animation: scroll 10s linear infinite;
  }
}