.landingage{
  height: 150vh;
  width: 100vw;
}

.board {
  width: 100vw;
  height: 100vh;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  perspective: 1000px;
  background-color: black;
  position: relative;
  z-index: 1;
}
.row {
  flex: 1;
  display: flex;
  gap: 0.25em;
}
.tile {
  flex: 1;
  position: relative;
  transform-style: preserve-3d;
}
.tile-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5em;
  overflow: hidden;
}
.tile-front {
  /* background-color: rgb(0, 0, 0); */
  background-image: url('./PublicAssets/landing1.png');
}
.tile-back {
  /* background-color: rgb(71, 174, 39); */
  background-image: url('./PublicAssets/landing2.png');
  transform: rotateX(180deg);
}
.tile-front::before,
.tile-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 600% 600%;
  background-position: inherit;
}

.highlight {
  border-color: #fff;
}
