@font-face {
  font-family: dirtyline;
  src: url('../../fonts/dirtyline-36daysoftype-2022.otf');
}

.menuWrap {
  position: fixed;
  top: 20px;
  right: 20px;
  content-visibility: auto;
  z-index: 1000000;
  display: flex;
  gap: 15px;
}

.menutxt {
  color: #111;
  font-family: inter;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
}

.menuBody {
  position: relative;
  z-index: 5;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #111;
  border: 2px solid white;
  transition: all 400ms cubic-bezier(0.68, 0.01, 0.32, 1.34);
}

.menulist {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  height: auto;
  gap: 15px;
  margin-left: 45px;
}

.menulist>li {
  font-size: xx-large;
  text-transform: lowercase;
  font-family: dirtyline;
  letter-spacing: 2px;
  text-decoration: none;
}
.menulist > li::marker{
  content: '';
}
#list1::before{
    content: "";
    position: absolute;
    top: 122px;
    left: 20px;
    transform: translateY(-50%);
    transform-origin: top left;
    width: .3333333333em;
    height: .3333333333em;
    background-color: #dcff46;
    border-radius: 2px;
    transition: .3s width, .1s height .2s;
}
#list1:hover::before{
  transition: .3s width .1s, .1s height;
  width: calc(100% + 1.1666666667em);
  height: .1666666667em;
}
#list2::before{
    content: "";
    position: absolute;
    top: 172px;
    left: 20px;
    transform: translateY(-50%);
    transform-origin: top left;
    width: .3333333333em;
    height: .3333333333em;
    background-color: #dcff46;
    border-radius: 2px;
    transition: .3s width, .1s height .2s;
}
#list2:hover::before{
  transition: .3s width .1s, .1s height;
  width: calc(100% + 1.1666666667em);
  height: .1666666667em;
}
#list3::before{
    content: "";
    position: absolute;
    top: 222px;
    left: 20px;
    transform: translateY(-50%);
    transform-origin: top left;
    width: .3333333333em;
    height: .3333333333em;
    background-color: #dcff46;
    border-radius: 2px;
    transition: .3s width, .1s height .2s;
}
#list3:hover::before{
  transition: .3s width .1s, .1s height;
  width: calc(100% + 1.1666666667em);
  height: .1666666667em;
}
#list4::before{
    content: "";
    position: absolute;
    top: 272px;
    left: 20px;
    transform: translateY(-50%);
    transform-origin: top left;
    width: .3333333333em;
    height: .3333333333em;
    background-color: #dcff46;
    border-radius: 2px;
    transition: .3s width, .1s height .2s;
}
#list4:hover::before{
  transition: .3s width .1s, .1s height;
  width: calc(100% + 1.1666666667em);
  height: .1666666667em;
}
#list5::before{
    content: "";
    position: absolute;
    top: 322px;
    left: 20px;
    transform: translateY(-50%);
    transform-origin: top left;
    width: .3333333333em;
    height: .3333333333em;
    background-color: #dcff46;
    border-radius: 2px;
    transition: .3s width, .1s height .2s;
}
#list5:hover::before{
  transition: .3s width .1s, .1s height;
  width: calc(100% + 1.1666666667em);
  height: .1666666667em;
}
#list6::before{
    content: "";
    position: absolute;
    top: 372px;
    left: 20px;
    transform: translateY(-50%);
    transform-origin: top left;
    width: .3333333333em;
    height: .3333333333em;
    background-color: #dcff46;
    border-radius: 2px;
    transition: .3s width, .1s height .2s;
}
#list6:hover::before{
  transition: .3s width .1s, .1s height;
  width: calc(100% + 1.1666666667em);
  height: .1666666667em;
}
#list7::before{
    content: "";
    position: absolute;
    top: 422px;
    left: 20px;
    transform: translateY(-50%);
    transform-origin: top left;
    width: .3333333333em;
    height: .3333333333em;
    background-color: #dcff46;
    border-radius: 2px;
    transition: .3s width, .1s height .2s;
}
#list7:hover::before{
  transition: .3s width .1s, .1s height;
  width: calc(100% + 1.1666666667em);
  height: .1666666667em;
}


/* hamburger */
/* From Uiverse.io by JulanDeAlb */
.hamburger {
  cursor: pointer;
  margin-top: 3px;
  margin-right: 2px;
  position: fixed;
  top: 2px;
  right: 4px;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 30px;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}