.fscreen {
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 0;
  /* height: 300vh; */
  background: url(/src/assets/aboutBG.png);
  background-size: contain;
  background-attachment: fixed;
}

.div1, .div2, .div3,.div4, .div5, .div6, .div7, .div8 {
  position: sticky;
  top: 1vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-weight: bold;
  color: black;
  font-size: 2rem;
  text-align: center;
}

.div1 h1, .div2 h1, .div3 h1 {
  /* margin-top: 10px; */
  font-size: 5rem;
  font-weight: bold;
  color: black;
  letter-spacing: 0.1em;

  font-weight: 900;
  
}
.green-section {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 80%;
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
}

.image-placeholder {
  width: 40%;
  height: 100%;
  background-color: rgb(197, 252, 197);
  border-radius: 15px;
  overflow: hidden;
}
.eventImg{
  width: 100%;
  height: 100%;
}

.text-section {
  width: 60%;
  padding-left: 20px;
  color: black;
  font-size: 1.2rem;
}



.div3 {
  position: relative;
  height: 100vh;
}


@media (max-width: 850px) {
  
  .fscreen{
    background-image: none;
  }

  .title{
    font-size: 30px;
  }

  .green-section {
    flex-direction: column;
    padding: 10px;
  }

  .image-placeholder {
    width: 100%;
    height: 400px; 
  }

  .text-section {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
  }
}
