.teamWrap {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
}

.teamCont {
    width: auto;
    height: 100vh;
    background: url(/src/assets/dotGrid.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
}

.teamHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    letter-spacing: 1px;
    padding-top: 35px;
    height: 15vh;
}

.headBorder {
    position: absolute;
    width: 110px;
    left: 6px;
    top: -2px;
}

.teamNameHead {
    position: relative;
    left: 40px;
}

.headHighlight {
    color: #CDFF63;
}

.teamBox {
    height: 85vh;
}

.wave {
    display: flex;
    position: fixed;
}

#membersBox {
    display: flex;
    height: 100%;
    width: max-content;
}

#membersBox>* {
    width: 150px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#teamDetailCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    gap: 5px;
}

#mask {

    width: 100%;
    background: transparent;
    height: 150px;
    border-radius: 100px;
    content-visibility: auto;
}

#msg {
    max-width: 100%;
    max-height: 30px;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    color: #a0d03c;
    font-family: "Playwrite ES", cursive;
    font-size: smaller;
    overflow-y: auto;
    font-size: 85%;
}

#teamImg {
    width: 100%;
}

#memName {
    font-size: large;
    letter-spacing: 1px;
    text-align: center;
}

@media screen and (max-width:768px) {
    .teamHead {
        align-items: flex-start;
        padding-left: 20px;
        gap: 10px;
    }
    .teamHead{
        line-height: 35px;
    }
    .teamNameHead {
        left: 0px;
        font-size: medium;
    }
    .headBorder{
        top: -5px;
    }
}