#member0{
    
    left: 75px;
}
#member1{
   
    left: 230px;
    bottom: -250px;
}
#member2{
    
    left: 380px;
}
#member3{
    
    left: 540px;
    bottom: -250px;
}
#member4{
    
    left: 680px;
}
#member5{
    
    left: 835px;
    bottom: -250px;
}
#member6{
    
    left: 985px;
}
#member7{
    
    left: 1135px;
    bottom: -250px;
}
#member8{
    width: 200px;
    height: 300px;
    border: 2px dashed lime;
}
#member9{
    width: 200px;
    height: 300px;
    border: 2px dashed lime;
}
#member10{
    width: 200px;
    height: 300px;
    border: 2px dashed lime;
}
#member11{
    width: 200px;
    height: 300px;
    border: 2px dashed lime;
}
#member12{
    width: 200px;
    height: 300px;
    border: 2px dashed lime;
}
#member13{
    width: 200px;
    height: 300px;
    border: 2px dashed lime;
}
#member14{
    width: 200px;
    height: 300px;
    border: 2px dashed lime;
}