@font-face {
  font-family: dirtyline;
  src: url("../../fonts/dirtyline-36daysoftype-2022.otf");
}
@font-face {
  font-family: maison;
  src: url("../../fonts/fonnts.com-Maison_Neue_Book.ttf");
}
.Mainfooter {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.footCont1 {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #baf400;
  gap: 10px;
  border-radius: 550px;
}
.footCont1 > h1 {
  padding-top: 50px;
  font-family: dirtyline;
  text-transform: lowercase;
  letter-spacing: 4px;
  font-size: 28vw;
  font-weight: bold;
  color: white;
}
.footCont1 > img {
  width: 50px;
  position: absolute;
  right: 65px;
  /* bottom: -85px; */
  cursor: pointer;
}
.topArrowtxt {
  font-family: maison;
  position: absolute;
  right: 60px;
  padding-top: 90px;
  /* bottom: 5%; */
  font-size: small;
  cursor: pointer;
}
.footCont2 {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #131315;
  color: white;
  font-family: maison;
}
.footCont2 > .foot2cont2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footCont2 > .foot2cont2 > a {
  color: #baf400;
  text-decoration: none;
}
.foot2cont1,
.foot2cont2,
.foot2cont3 {
  font-size: large;
  letter-spacing: 1px;
}
