.wholepage {
  width: 100vw;
  /* height: 100vh;*/
  background: url(/src/assets/dotGrid.png);
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.blurLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  filter: blur(10px);
  background: #00000052;
}

/* .projectPageWrap .head{
  color: white;
  font-size: 45px;
  font-family: 'ArameBold';
  letter-spacing: 2px;
  margin-top: 40px;
} */

.Projects {
  /* font-size: 4rem;
  text-decoration: wavy;
  text-align: center; */
  color: #ffffff;
  font-size: 45px;
  font-family: 'ArameBold';
  letter-spacing: 2px;
  margin-top: 40px;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

/* middle line */
.container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 0.2vw;
  background-color: white;
}

.container div {
  position: relative;
  background-color: rgb(142, 251, 18);
  width: 35vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  aspect-ratio: 4/3;
}

.projectBanner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


/* points */
.container div::before {
  content: '';
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: white;
  border-radius: 50%;
}

.container div {
  border-radius: 15px;
}

.container div:nth-of-type(odd)::before {
  left: calc(50% + 19.6vw);
}

.container div:nth-of-type(even)::before {
  left: calc(50% - 20.4vw);
}

.container .box1,
.container .box3,
.container .box5 {
  margin-right: 40vw;
}

.container .box2,
.container .box4,
.container .box6 {
  margin-left: 40vw;
}

.container .text1,
.container .text3,
.container .text5 {
  margin-right: 40vw;
  max-width: 35vw;
  color: #fff;
  padding: 10px;
  letter-spacing: 1px;
  font-size: 13px;
}

.container .text2,
.container .text4,
.container .text6 {
  margin-left: 40vw;
  max-width: 35vw;
  color: #fff;
  padding: 10px;
  letter-spacing: 1px;
  font-size: 13px;
}


@media (max-width: 850px) {
  .Projects{
    font-size: 40px;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }

  .container::before {
    left: 95vw;
    width: 3px;
    background-color: #fff;
  }

  .container div {
    width: 80vw;
    height: 60vh;
    aspect-ratio: 3/5;

    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 10px;
  }

  .container .box1,
  .container .box3,
  .container .box5 {
    margin-right: 5vw;
  }

  .container .box2,
  .container .box4,
  .container .box6 {
    margin-left: -5vw;
  }

  .container div::before {
    content: '';
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: white;
    border-radius: 50%;
  }

  .container div:nth-of-type(odd)::before {
    left: calc(86vw);
    background-color: white;
  }

  .container div:nth-of-type(even)::before {
    left: calc(86vw);
    background-color: white;
  }

  .container .text1,
  .container .text3,
  .container .text5 {
    margin: 0;
    margin-left: -10vw;
    max-width: 85vw;
    text-align: center;
    color: #fff;
    line-height: 1rem;
  }

  .container .text2,
  .container .text4,
  .container .text6 {
    margin: 0;
    margin-left: -10vw;
    max-width: 85vw;
    text-align: center;
    color: #fff;
    line-height: 1rem;
  }
}