* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272727;
  font-family: Segoe UI, Tahoma, sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.flipbook-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vh;
}

.mag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.nav-bar {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  margin: 2vh 0 0 0;
  padding: 10px 30px;
  background-color: #161515;
  color: #fff;
  border-radius: 10px;
}

.nav-bar button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.previousButton {
  display: flex;
  align-items: center;
  margin-right: 1vh;
  padding-right: 5px;
}

.nextButton {
  display: flex;
  align-items: center;
  margin-left: 1vh;
  padding-left: 5px;
}

.middleButton {
  display: flex;
  align-items: center;
  margin-right: 2vh;
  margin-left: 2vh;
}

.middleSymbol {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
}

.middleButton span {
  font-weight: bold;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  margin: 2vh 0 2vh 0;
  padding: 10px 30px;
  background-color: #161515;
  color: #fff;
  border-radius: 10px;
}

.bottom-bar button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 100%;
  background-color: #272727;
  border-radius: 20%;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .edition {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  padding: 10px;
  margin-right: 20px;
  margin-top: 4.5px;
  border: none;
}

.dropbtn:hover {
  background-color: #c9c9c9;
  color: black;
  border-radius: 10px;
}
