@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* @font-face {
  font-family: arame;
  src: url("../fonts/Arame.ttf");
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: auto;
}

body {
  font-family: 'Arame';
  overflow-x: hidden;
  overflow-y: auto;
}
*::selection{
  color: #f1f1f1;
  background-color: #474747;
}
::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 5px;
  border: 2px solid #7c7c6f;
}

::-webkit-scrollbar-track {
  background: transparent;
}
