* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.event-title {
  position: "relative";
  top: "-150px";
  left: "150px";
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
  background-color: #dff49e;
  opacity: 0;
  animation-fill-mode: forwards;
}

.item-3 {
  background-color: #ccff28;
  opacity: 1;
}

.item-1 {
  /* animation: slideInLeft 1s ease-out forwards; */
  transform: translateX(-100%);
}

.item-2 {
  /* animation: slideInBottom 1s ease-out forwards 0.5s; */
  transform: translateY(100%);
  opacity: 0;
}

.item-4 {
  /* animation: slideInTop 1s ease-out forwards 1s; */
  transform: translateY(-100%);
  opacity: 0;
}

.item-5 {
  /* animation: slideInRight 1s ease-out forwards 1.5s; */
  transform: translateX(100%);
  opacity: 0;
}

.item-6 {
  /* animation: slideInRight 1s ease-out forwards 2s; */
  transform: translateX(100%);
  opacity: 0;
}

/* @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  } */

/* @keyframes slideInBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  } */

/* @keyframes slideInTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  } */

/* @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  } */

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
  }

  .event-title {
    position: "relative";
    top: "-150px";
    left: "150px";
  }

  .item-1 {
    grid-column: 5 / span 5;
    grid-row: 1;
    height: 211px;
  }

  .item-2 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    height: 371px;
    align-self: end;
  }

  .item-3 {
    grid-column: 5 / span 4;
    grid-row: 2;
    height: 330px;
  }

  .item-4 {
    grid-column: 9 / span 2;
    grid-row: 2;
    height: 330px;
  }

  .item-5 {
    grid-column: 4 / span 2;
    grid-row: 3;
    height: 211px;
  }

  .item-6 {
    grid-column: 6 / span 4;
    grid-row: 3;
    height: 211px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 5%;
  }

  .item-1,
  .item-2,
  .item-3,
  .item-4,
  .item-5,
  .item-6 {
    grid-column: span 1;
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }

  .item-1,
  .item-2,
  .item-3,
  .item-4,
  .item-5,
  .item-6 {
    grid-column: span 1;
    justify-self: center;
    width: 80%;
    height: 200px;
  }
}
